# Load the experiments

In [5]:
import pandas as pd

df = pd.read_csv('outputs/exp7_data_3_8_1000/data.csv')
df.keys()

Index(['i_sample', 'n_local_networks', 'n_var_network', 'v_topology',
       'n_output_variables', 'n_clauses_function', 'n_edges',
       'n_local_attractors', 'n_pair_attractors', 'n_attractor_fields',
       'n_time_find_attractors', 'n_time_find_pairs', 'n_time_find_fields'],
      dtype='object')

In [22]:
grouped_df = df.groupby('n_local_networks')
df_agrupado = grouped_df.count()
df_agrupado

,i_sample,n_var_network,v_topology,n_output_variables,n_clauses_function,n_edges,n_local_attractors,n_pair_attractors,n_attractor_fields,n_time_find_attractors,n_time_find_pairs,n_time_find_fields
n_local_networks,,,,,,,,,,,,
3,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000
4,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000
5,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000
6,4000,4000,4000,4000,4000,4000,4000,4000,4000,4000,4000,4000
7,3992,3992,3992,3992,3992,3992,3992,3992,3992,3992,3992,3992
8,4990,4990,4990,4990,4990,4990,4990,4990,4990,4990,4990,4990

In [24]:
df = pd.read_csv('outputs/exp7_data_7_8_1000/data.csv')
grouped_df = df.groupby('n_local_networks')
df_agrupado = grouped_df.count()
df_agrupado

,i_sample,n_var_network,v_topology,n_output_variables,n_clauses_function,n_edges,n_local_attractors,n_pair_attractors,n_attractor_fields,n_time_find_attractors,n_time_find_pairs,n_time_find_fields
n_local_networks,,,,,,,,,,,,
7,3992,3992,3992,3992,3992,3992,3992,3992,3992,3992,3992,3992
8,4990,4990,4990,4990,4990,4990,4990,4990,4990,4990,4990,4990