# Load the experiments

In [50]:
import pandas as pd

df = pd.read_csv('outputs/exp7_data_7_8_1000/data.csv')
num_registros = df.shape[0]
print(f"El DataFrame tiene {num_registros} registros.")

El DataFrame tiene 8982 registros.

# Filter by local network

In [51]:
# filter by the number of local network
n_local_networks = 8
df_filter = df[df['n_local_networks'] == n_local_networks]
num_registros = df_filter.shape[0]
print(f"Existe {num_registros} registros para las RBAs de {n_local_networks} redes locales.")

Existe 4990 registros para las RBAs de 8 redes locales.

# Comparative by edges

In [46]:
import pandas as pd

# Assuming your DataFrame is named 'df'
grouped_df = df_filter.groupby('n_edges')

# Calculate mean, median, standard deviation for each target column
summary_stats = grouped_df[['n_local_attractors', 'n_pair_attractors', 'n_attractor_fields']].agg(
    ['mean', 'median', 'std']
)

summary_stats

        n_local_attractors                   n_pair_attractors         \
                      mean median        std              mean median
n_edges
8                    30.69   27.0  14.131200             77.64   46.0
9                    34.42   31.0  16.565865            110.00   61.5
10                   38.31   32.0  19.113534            155.65   80.0
11                   41.75   36.0  20.768748            200.08  109.0
12                   45.59   40.0  23.177878            262.63  138.0

                    n_attractor_fields
                std               mean median           std
n_edges
8        103.801240          272632.77   82.0  2.429523e+06
9        145.507888          272572.39   84.0  2.429530e+06
10       223.467729          275668.70   36.5  2.459810e+06
11       291.823687          275680.87   69.5  2.459809e+06
12       371.192745          299775.16  176.0  2.698904e+06