In [5]:
import pandas as pd

# Leer los dos archivos CSV en DataFrames
df1 = pd.read_csv('data.csv')
df2 = pd.read_csv('../exp5_aleatory_linear_circle_10_10_1000/data.csv')

# Eliminar el Ãºltimo elemento del DataFrame
df1 = df1.iloc[:-1]

df1.keys()

Index(['i_sample', 'n_local_networks', 'n_var_network', 'v_topology',
       'n_output_variables', 'n_clauses_function', 'n_local_attractors',
       'n_pair_attractors', 'n_attractor_fields', 'n_time_find_attractors',
       'n_time_find_pairs', 'n_time_find_fields'],
      dtype='object')

In [6]:
df2.tail()

,i_sample,n_local_networks,n_var_network,v_topology,n_output_variables,n_clauses_function,n_local_attractors,n_pair_attractors,n_attractor_fields,n_time_find_attractors,n_time_find_pairs,n_time_find_fields
1995,998,10,5,3,2,2,30,60,1024,0.349849,0.000288,0.087069
1996,999,10,5,4,2,2,49,88,2048,0.536721,0.000275,0.084174
1997,999,10,5,3,2,2,50,100,1024,0.471411,0.000134,0.141171
1998,1000,10,5,4,2,2,19,17,1,0.298511,0.000111,0.000073
1999,1000,10,5,3,2,2,20,20,1,0.297491,0.000127,0.000122

In [7]:
# Calcular el desplazamiento para el Ã­ndice del segundo DataFrame
desplazamiento = df1['i_sample'].iloc[-1]

# Agregar el desplazamiento al Ã­ndice del segundo DataFrame
df2['i_sample'] += desplazamiento

# Concatenar los dos DataFrames
df = pd.concat([df1, df2])

# Restablecer el Ã­ndice si es necesario
df.reset_index(drop=True, inplace=True)

# Mostrar el DataFrame resultante
df.tail(10)

,i_sample,n_local_networks,n_var_network,v_topology,n_output_variables,n_clauses_function,n_local_attractors,n_pair_attractors,n_attractor_fields,n_time_find_attractors,n_time_find_pairs,n_time_find_fields
18600,9301,10,5,4,2,2,29,52,1024,0.320790,0.000168,0.023369
18601,9301,10,5,3,2,2,30,60,1024,0.333933,0.000178,0.072225
18602,9302,10,5,4,2,2,78,420,60466176,0.588076,0.000148,1561.380641
18603,9302,10,5,3,2,2,80,480,60466176,0.612777,0.000171,14139.910398
18604,9303,10,5,4,2,2,29,52,1024,0.304869,0.000116,0.015682
18605,9303,10,5,3,2,2,30,60,1024,0.349849,0.000288,0.087069
18606,9304,10,5,4,2,2,49,88,2048,0.536721,0.000275,0.084174
18607,9304,10,5,3,2,2,50,100,1024,0.471411,0.000134,0.141171
18608,9305,10,5,4,2,2,19,17,1,0.298511,0.000111,0.000073
18609,9305,10,5,3,2,2,20,20,1,0.297491,0.000127,0.000122

In [8]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('data_merged.csv')