In [5]:
import pandas as pd

# Leer los dos archivos CSV en DataFrames
df1 = pd.read_csv('data.csv')
df2 = pd.read_csv('../exp5_aleatory_linear_circle_10_10_1000/data.csv')
df3 = pd.read_csv('../exp5_aleatory_linear_circle_10_10_695/data.csv')

# Eliminar el Ãºltimo elemento del DataFrame
df1 = df1.iloc[:-1]

df1.keys()

Index(['i_sample', 'n_local_networks', 'n_var_network', 'v_topology',
       'n_output_variables', 'n_clauses_function', 'n_local_attractors',
       'n_pair_attractors', 'n_attractor_fields', 'n_time_find_attractors',
       'n_time_find_pairs', 'n_time_find_fields'],
      dtype='object')

In [6]:
df2.tail()

,i_sample,n_local_networks,n_var_network,v_topology,n_output_variables,n_clauses_function,n_local_attractors,n_pair_attractors,n_attractor_fields,n_time_find_attractors,n_time_find_pairs,n_time_find_fields
1995,998,10,5,3,2,2,30,60,1024,0.349849,0.000288,0.087069
1996,999,10,5,4,2,2,49,88,2048,0.536721,0.000275,0.084174
1997,999,10,5,3,2,2,50,100,1024,0.471411,0.000134,0.141171
1998,1000,10,5,4,2,2,19,17,1,0.298511,0.000111,0.000073
1999,1000,10,5,3,2,2,20,20,1,0.297491,0.000127,0.000122

In [7]:
# Calcular el desplazamiento para el Ã­ndice del segundo DataFrame
desplazamiento = df1['i_sample'].iloc[-1]

# Agregar el desplazamiento al Ã­ndice del segundo DataFrame
df2['i_sample'] += desplazamiento

# Calcular el desplazamiento para el Ã­ndice del segundo DataFrame
desplazamiento = df2['i_sample'].iloc[-1]

# Agregar el desplazamiento al Ã­ndice del segundo DataFrame
df3['i_sample'] += desplazamiento

# Concatenar los dos DataFrames
df = pd.concat([df1, df2, df3])

# Restablecer el Ã­ndice si es necesario
df.reset_index(drop=True, inplace=True)

# Mostrar el DataFrame resultante
df.tail(10)

,i_sample,n_local_networks,n_var_network,v_topology,n_output_variables,n_clauses_function,n_local_attractors,n_pair_attractors,n_attractor_fields,n_time_find_attractors,n_time_find_pairs,n_time_find_fields
19990,9996,10,5,4,2,2,68,278,3383392,1.600595,0.000387,135.982561
19991,9996,10,5,3,2,2,70,320,3041600,1.772245,0.000467,914.770971
19992,9997,10,5,4,2,2,29,52,1024,0.814229,0.000341,0.028813
19993,9997,10,5,3,2,2,30,60,1024,0.890290,0.000611,0.100795
19994,9998,10,5,4,2,2,19,17,1,0.905278,0.000368,0.000181
19995,9998,10,5,3,2,2,20,20,1,0.919563,0.000461,0.000338
19996,9999,10,5,4,2,2,19,17,1,0.868410,0.000327,0.000185
19997,9999,10,5,3,2,2,20,20,1,0.921684,0.000400,0.000295
19998,10000,10,5,4,2,2,59,53,5,1.503291,0.000478,0.001303
19999,10000,10,5,3,2,2,60,60,1,1.627600,0.000364,0.001371

In [8]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('data_merged.csv')