In [5]:
import pandas as pd

# Leer los dos archivos CSV en DataFrames
df1 = pd.read_csv('data_5000.csv')
df2 = pd.read_csv('data_8700.csv')

# Eliminar el último elemento del DataFrame
df1 = df1.iloc[:-1]

df1.keys()

Index(['i_sample', 'n_local_networks', 'n_var_network', 'v_topology',
       'n_output_variables', 'n_clauses_function', 'n_local_attractors',
       'n_pair_attractors', 'n_attractor_fields', 'n_time_find_attractors',
       'n_time_find_pairs', 'n_time_find_fields'],
      dtype='object')

In [6]:
df2.tail()

,i_sample,n_local_networks,n_var_network,v_topology,n_output_variables,n_clauses_function,n_local_attractors,n_pair_attractors,n_attractor_fields,n_time_find_attractors,n_time_find_pairs,n_time_find_fields
1491,746,11,5,3,2,2,44,88,2048,1.696437,0.000491,0.380688
1492,747,11,5,4,2,2,22,19,1,1.418633,0.000556,0.000267
1493,747,11,5,3,2,2,22,22,1,1.415848,0.000633,0.000450
1494,748,11,5,4,2,2,96,522,362797056,2.752111,0.000902,18099.684891
1495,748,11,5,3,2,2,99,594,362797056,2.939826,0.001390,216311.376180

In [7]:
# Calcular el desplazamiento para el índice del segundo DataFrame
desplazamiento = df1['i_sample'].iloc[-1]

# Agregar el desplazamiento al índice del segundo DataFrame
df2['i_sample'] += desplazamiento

# Calcular el desplazamiento para el índice del segundo DataFrame
desplazamiento = df2['i_sample'].iloc[-1]

# Concatenar los dos DataFrames
df = pd.concat([df1, df2])

# Restablecer el índice si es necesario
df.reset_index(drop=True, inplace=True)

# Mostrar el DataFrame resultante
df.tail(10)

,i_sample,n_local_networks,n_var_network,v_topology,n_output_variables,n_clauses_function,n_local_attractors,n_pair_attractors,n_attractor_fields,n_time_find_attractors,n_time_find_pairs,n_time_find_fields
4098,2050,11,5,4,2,2,21,19,1,1.189134,0.000573,0.000292
4099,2050,11,5,3,2,2,22,22,1,1.234573,0.000484,0.000329
4100,2051,11,5,4,2,2,21,19,1,1.164446,0.000543,0.000257
4101,2051,11,5,3,2,2,22,22,1,1.294379,0.000680,0.000468
4102,2052,11,5,4,2,2,42,76,2048,1.624584,0.000439,0.087512
4103,2052,11,5,3,2,2,44,88,2048,1.696437,0.000491,0.380688
4104,2053,11,5,4,2,2,22,19,1,1.418633,0.000556,0.000267
4105,2053,11,5,3,2,2,22,22,1,1.415848,0.000633,0.000450
4106,2054,11,5,4,2,2,96,522,362797056,2.752111,0.000902,18099.684891
4107,2054,11,5,3,2,2,99,594,362797056,2.939826,0.001390,216311.376180

In [8]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('data.csv', index=False)